* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--color-white-smoke);
}

:root {
  --color-shakespeare: #61a0af;
  --color-regent-st-blue: #96c9dc;
  --color-pale-violet-red: #f06c9b;
  --color-melon: #f9b9b7;
  --color-splash: #f5d491;
  --color-jagger: #3f3047;
  --color-white-smoke: #f8f8f8;
  --color-whisper: #ececec;
  --header-strip-background-color: #9e2f28;
  --header-upper-background-color: #c45d55;
  --bssearch-background-color: #9e2f28;
  --header-bottom-background-color: #a8956d;
}

body {
  font-family: "Rubik", sans-serif;
  overflow-y: scroll;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--header-strip-background-color);
}

.gap-15 {
  gap: 15px;
}

.form-select {
  cursor: pointer;
}

/* Header part */

.header-upper .input-group-text {
  background-color: var(--color-white-smoke);
  color: var(--color-jagger);
}

.header-upper-links svg {
  width: 30px;
  height: 30px;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.header-bottom .dropdown svg {
  width: 20px;
  height: 20px;
}

.header-bottom .dropdown-menu {
  background-color: var(--header-bottom-background-color);
  width: 50%;
  transform: translate3d(0px, 50px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 10px;
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: black !important;
}

/* Header part end */

/* Breadcrumb part */

.breadcrumb {
  margin: 0 auto;
}

a.breadcrumb-item.active::before {
  content: "➜";
  margin-left: 5px;
  margin-right: 5px;
}
/* Breadcrumb part end */

/* Footer part */

.social-icons svg {
  width: 45px;
  height: 45px;
  margin: 2px;
}

/* Footer part end */

/* Home part */

.brands img {
  margin-right: 15px;
}

.categories {
  box-shadow: 0 0 10px var(--bssearch-background-color);
}

.categories div:nth-child(1),
.categories div:nth-child(2),
.categories div:nth-child(3),
.categories div:nth-child(4) {
  border-right: 1px solid;
}

.categories p {
  text-align: center;
}

/* Home part end */

/* Product card part */

.product-card {
  padding: 10px;
  background-color: var(--color-whisper);
}

.product-card .wishlist-icon {
  margin-left: 5px;
}

.featured-wrapper .product-card {
  margin-bottom: 45px;
}

.featured-wrapper .col-12 .product-card {
  display: block;
}

.col-12 .product-card {
  display: flex;
}

/* Product card end */

/* Store part */

.filter-card {
  background-color: var(--header-upper-background-color);
}

.products-view-change svg {
  width: 25px;
  height: 25px;
  margin-left: 5px;
  cursor: pointer;
}

/* Store part end */

/* Contact part */

/* Contact part end */

/* Wishlist part */

.wishlist-card {
  padding: 5px;
}

.remove-from-wishlist svg {
  width: 15px;
  height: 15px;
}

/* Wishlist part end */
