/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-float infinite 3s ease-in-out;
  }
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: rgb(112, 76, 182);
}

@keyframes App-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --header-strip-background-color: #9e2f28;
  --header-upper-background-color: #c45d55;
  --bssearch-background-color: #9e2f28;
  --header-bottom-background-color: #a8956d;
}

body {
  font-family: "Rubik", sans-serif;
}

a {
  text-decoration: none;
  display: inline-block;
}

.form-control:focus {
  box-shadow: none;
  border-color: var(--header-strip-background-color);
}

.gap-15 {
  gap: 15px;
}

/* Header part */

.header-top-strip {
  background-color: var(--header-strip-background-color);
}

.header-upper {
  background-color: var(--header-upper-background-color);
}

.header-bottom {
  background-color: var(--header-bottom-background-color);
}

.header-upper .input-group-text {
  background-color: var(--bssearch-background-color);
  color: white;
}

.header-upper-links svg {
  width: 30px;
  height: 30px;
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  text-transform: uppercase;
}

.header-bottom .dropdown svg {
  width: 20px;
  height: 20px;
}

.header-bottom .dropdown-menu {
  background-color: var(--header-bottom-background-color);
  width: 50%;
  transform: translate3d(0px, 50px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 10px;
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: black !important;
}

/* Header part end */

/* Footer part */

footer {
  background-color: var(--header-upper-background-color);
}

.social-icons svg {
  width: 45px;
  height: 45px;
  margin: 2px;
}

/* Footer part end */
